@charset "UTF-8";

@font-face {  /*----- CHANGE TO TYPEKIT ------*/
 font-family: 'PreloSlabMedium';
 src: url('fonts/preloslab-medium-webfont.eot');
 src: url('fonts/preloslab-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/preloslab-medium-webfont.woff') format('woff'), url('fonts/preloslab-medium-webfont.ttf') format('truetype'), url('fonts/preloslab-medium-webfont.svg#PreloSlabMedium') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'PreloSlabBold';
 src: url('fonts/preloslab-bold-webfont.eot');
 src: url('fonts/preloslab-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/preloslab-bold-webfont.woff') format('woff'), url('fonts/preloslab-bold-webfont.ttf') format('truetype'), url('fonts/preloslab-bold-webfont.svg#PreloSlabBold') format('svg');
 font-weight: normal;
 font-style: normal;
}

body {
  background: #48494c url(../assets/images/hdr_bg.png);
  background-repeat: repeat-x;
  color: #DBDBDB;
  font-family: "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, Trebuchet, sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.interface {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div#sidebar {
  font-family: 'PreloSlabBold';
  font-size: 13px;
  background: #000;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 0 0 20px #ccc;
     -moz-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
  background: #242426;
}
#sidebar h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

#sidebar h2 a, a:visited {
  display: block;
  color: #A5843C;
  font-family: 'PreloSlabBold';
  text-decoration: none;
  margin-top: 15px;
  font-size: 16px;
}
#sidebar h2 a:hover {
  text-decoration: underline;
}

#sidebar ul {
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}
#sidebar li {
  cursor: pointer;
  margin: 0 0 3px 0;

}

#sidebar li:before {
  content: ' - ';
}

#sidebar li a {
  text-decoration: none;
  color: #DBDBDB;
}
#sidebar li a:hover {
  text-decoration: underline;
}

div.container {
  position: relative;
  width: 700px;
  margin: 26px 0 50px 224px;
  background-image: url(../assets/images/badge_thorax.png);
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-left: 78px;
}
p, div.container ul {
  margin: 20px 0;
  width: 700px;
}
p.warning {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
}
div.container ul {
  list-style: circle;
  font-size: 13px;
  padding-left: 15px;
}
a, a:visited {
  color: #fff;
}
a:active, a:hover {
  color: #fff;
}
a img {
  border: 0;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 20px;
}
h2 {
  font-size: 26px;
}
.container h2 {
  color: #E3AB32;
  font-size: 22px;
  font-family: PreloSlabMedium;
  font-weight: normal;
}
h3 {
  font-family: PreloSlabMedium;
  font-size: 19px;
  color: white;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
}

.container h3 {
  padding-top:0;
}

span.alias {
  font-size: 14px;
  font-style: italic;
  margin-left: 20px;
}
table {
  margin: 15px 0 0; padding: 0;
}
tr, td {
  margin: 0; padding: 0;
}
td {
  padding: 0px 15px 5px 0;
}

code, pre, p em, .container em {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

.container pre {
  text-indent: -20px;
}

p em {
  padding: 0px 3px;
  color: #E3AB32;
  zoom: 1;
}
code, .container h3 em {
  margin-left: 10px;
}
.container h3 em {
  font-size:14px;
}
pre {
  border: 7px solid #A3A3A3;
  background-color: #242426;
  color:#fff;
  font-size: 12px;
  padding: 17px 17px 0 17px;
  border: 5px solid #eee;
  margin: 0px 0 30px;
  -webkit-box-shadow: 0 0 10px #666;
     -moz-box-shadow: 0 0 10px #666;
          box-shadow: 0 0 10px #666;
}
