<div id="todo-stats">
    <span class="todo-count">
      {{number}}
      {{word}} left.
    </span>
    <span class="todo-clear">
      <a href="#" class="remove-items">
        Clear {{numberDone}}
        completed {{wordDone}}
      </a>
    </span>
</div>
