<div class="title">
  <h1>Todos</h1>
</div>

<div class="content">
  <div id="create-todo">
    <input id="new-todo" placeholder="What needs to be done?" type="text" />
    <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
  </div>

  <ul id="todo-list" class="collection"></div>

  <div id="todo-stats"></div>
</div>


