<div class="display">
  <input type="checkbox" class="check" value="done" {{#if done}}checked{{/if}}/>
  <div class="todo-text">{{label}}</div>
  <span class="todo-destroy"></span>
</div>
<div class="edit">
  <input name="label" class="todo-input" type="text" value="">
</div>
